<!-- <p>Find me in app/views/cocktails/index.html.erb</p> -->
<div class="container text-center">

      <h1>Cocktails index</h1>
      <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %>
        <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
      </li>
      <% end %>
      <h2 class="btn btn-default"><%= link_to "new Cocktail",new_cocktail_path %></h2>

</div>
