<!-- <p>Find me in app/views/cocktails/index.html.erb</p> -->
<div class="banner--case">
  <div class="banner--text">
    <h1> Welcome to my Cocktails</h1>
    <h2 class="btn btn-default"><%= link_to "new Cocktail",new_cocktail_path %></h2>
  </div>
  <div class="banner--image"></div>
</div>


<!-- <div class="top text-center">
  <div class="banner"></div>
  <div class="text">
    <h1> Welcome to my Cocktails</h1>
    <h2 class="btn btn-default"><%= link_to "new Cocktail",new_cocktail_path %></h2>
  </div>
</div> -->


<div class="content">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6  col-lg-3">
        <div class="img">
          <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
        </div>
        <p> <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      </div>
    <% end %>
  </div>
</div>
