<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<% @cocktails.each do |cocktail| %>
<li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
<% end %>
<h3><%= link_to "new Cocktail",new_cocktail_path %></h3>

