

<div class="container text-center">
  <h1>Cocktails show</h1>
  <h1>name: <%= @cocktail.name %></h1>
  <%= link_to "mian page", cocktails_path %>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
</div>
