<div class="container text-center">
<h1>Cocktails show</h1>
<!-- <p>Find me in app/views/cocktails/show.html.erb</p> -->

<h1>name: <%= @cocktail.name %></h1>
<%= link_to "mian page", cocktails_path %>

</div>
