<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "add a review", class: "btn btn-primary" %>
  <% end %>
</div>
